body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
}

section {
    background-color: black;
    width: 100%;
    height: 600px;
    padding-top: 70px;
}


/*---- SPLASH ----*/

#splash {
    display: flex;
    margin-top: 0px;
    background-image: url(img/flowers-trees-spring-ppt-backgrounds-powerpoint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55vw;
    opacity: 0.8;
}


/*----mig ----*/

#mig {
    background-image: url(img/131606_10202775793010514_6516804692899406531_o.jpg);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    margin: 0;
}

#mig .sectionwrapper {
    display: flex;
    justify-content: center;
}

#mig h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;
}

#mig h2 {
    display: inline-block;
    color: black;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

#mig h3 {
    letter-spacing: 1px;
    font-family: 'Open Sans';
    font-size: 16px;
    margin: 60px;
}

#mig li {
    color: white;
    line-height: 18px;
    margin: 40px;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
}

#mig ul {
    width: 80%;
    margin-left: 30px;
}

#mig a {
    color: darkred;
    font-size: 2vw;
    margin-top: 0px;
    margin-bottom: 50px;
    display: inline-block;
    display: flex;
    justify-content: space-around;
}

#mig mig1 {
    width: 100%;
    padding: 0 10px;
}

#mig mig2 {
    width: 100%;
    padding: 0 10px;
}

#mig mig3 {
    width: 100%;
    padding: 0 10px;
}

#maide {
    background-image: url("img/maide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 300px;
    height: 300px;
}


/*---- WDESIGN ----*/

#wdesign {
    background-color: #C0D4BF;
    margin: 0;
    height: 100%;
}

#wdesign h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;
}

#wdesign h2 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    color: darkgrey;
    margin: 10px;
}

#wdesign h3 {
    font-size: 20px;
}

#wdesign p {
    font-family: 'Open Sans';
    color: #F7F0E7;
}

#wdesign a {
    color: #AEBFCD;
    font-size: 2vw;
}

#wdesign .link {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}

#wdesign .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#wdesign .column_1 {
    width: 46%;
    padding: 20px;
}

#wdesign .column_2 {
    width: 46%;
    padding: 20px;
}

#wdesign .link {
    text-align: center;
    width: 200%;
    margin-top: 30px;
    margin-bottom: 70px;
}


/*---- VIDEO ----*/

#video {
    background-color: #9DAD9D;
    margin: 0;
    height: 100%;
}

#video h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;
}

#video h2 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    color: lightgray;
    margin: 10px;
}

#video p {
    font-family: 'Open Sans';
    color: #F7F0E7;
}

#video a {
    color: #AEBFCD;
    font-size: 2vw;
}

#video .link {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}

#video .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#video .column_1 {
    width: 46%;
    padding: 20px;
}

#video .column_2 {
    width: 46%;
    padding: 20px;
}

#video .link {
    text-align: center;
    width: 200%;
    margin-top: 30px;
    margin-bottom: 70px;
}


/*---- ANIMATION ----*/

#animation {
    background-color: #7B877A;
    margin: 0;
    height: 100%;
}

#animation h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;
}

#animation h2 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    color: lightgray;
    margin: 10px;
}

#animation h3 {
    font-size: 20px;
}

#animation p {
    font-family: 'Open Sans';
    color: #F7F0E7;
}

#animation a {
    color: #AEBFCD;
    font-size: 2vw;
}

#animation .link {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}

#animation .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#animation .column_1 {
    width: 46%;
    padding: 20px;
}

#animation .column_2 {
    width: 46%;
    padding: 20px;
}

#animation .link {
    text-align: center;
    width: 200%;
    margin-top: 30px;
    margin-bottom: 70px;
}

animaition .video {
    flex-basis: 560px;
    flex-grow: 1;
    margin: 80px 0 0 20px;
}


/*----UX----*/

#ux {
    background-color: #414740;
    margin: 0;
    height: 100%;
}

#ux h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;
}

#ux h2 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    color: lightgray;
    margin: 10px;
}

#ux h3 {
    font-size: 20px;
}

#ux p {
    font-family: 'Open Sans';
    color: #F7F0E7;
}

#ux a {
    color: #AEBFCD;
    font-size: 2vw;
}

#ux .link {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}

#ux .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ux .column_1 {
    width: 46%;
    padding: 20px;
}

#ux .column_2 {
    width: 46%;
    padding: 20px;
}

#ux .link {
    text-align: center;
    width: 200%;
    margin-top: 30px;
    margin-bottom: 70px;
}


/*---------- NAVIGATIONS MENU --------*/

#primary_nav_wrap {
    background-color: #290607;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 100;
    top: 0;
    opacity: 0.7;
}

#primary_nav_wrap ul {
    list-style: none;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0
}

#primary_nav_wrap ul a {
    display: inline-block;
    color: #F7F0E7;
    margin: 1.2vw;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    vertical-align: middle;
}

#primary_nav_wrap ul a:hover {
    color: lightpink;
}

#primary_nav_wrap ul li {
    position: relative;
    display: inline-block;
    margin: 6px;
}

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    margin-top: 1px;
    background-color: #B5C7B4;
    padding: 0;
    text-align: left;
}

#primary_nav_wrap ul ul li {
    display: inline-block;
    width: 200px;
}

#primary_nav_wrap ul ul a {
    padding: 0;
}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%
}

#primary_nav_wrap ul li:hover > ul {
    color: #F7F0E7;
    display: block;
}


/*----MENU ---*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #290607;
    height: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.container_drop {
    margin: 0;
    position: fixed;
    padding: 8px 20px;
    display: block;
    cursor: pointer;
    background-color: #290607;
    min-width: 280px;
}

.container_drop a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #F7F0E7;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #ECC2BB;
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
    background-color: #ECC2BB;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #ECC2BB;
}

.dropdown {
    display: none;
}

.dropdown-content {
    min-width: 160px;
    width: 20px;
    z-index: 1;
    padding: 10px 40px 10px 10px;
}

.dropdown-content a {
    color: #F7F0E7;
    padding: 20px 0px 0px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Raleway';
    letter-spacing: 3px;
}

.dropdown-content a:hover {
    color: lightpink;
}

.show {
    display: block;
}


/*----BOX:OPGAVER----*/

.box a h2 {
    font-size: 25px;
    background-color: whitesmoke;
    opacity: 0.8;
    text-decoration: none;
}

.box a h2:hover {
    background-color: #290607;
    transform: scale(1.3);
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 230px;
    height: 230px;
    margin: 10px 10px 10px 30px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.box a {
    text-decoration: none;
}

.box1 {
    background-image: url(img/Sk%C3%A6rmbillede%202017-02-26%20kl.%2022.34.54.png);
    background-size: cover;
    border-radius: 10px;
}

.box2 {
    background-image: url(img/persona.pdf);
    background-size: cover;
    border-radius: 10px;
}

.box3 {
    background-image: url(img/hund-kopi.jpg);
    background-size: cover;
    border-radius: 10px;
}

.box4 {
    background-image: url(img/flexbox.png);
    background-size: cover;
    border-radius: 10px;
}

.box5 {
    background-image: url(img/proces.png);
    background-size: cover;
    border-radius: 10px;
}

.box6 {
    background-image: url(img/ugeopgave.png);
    background-size: cover;
    border-radius: 10px;
}

.box7 {
    background-image: url(img/Sk%C3%A6rmbillede%202018-01-02%20kl.%2020.12.13.png);
    background-size: cover;
    border-radius: 10px;
}

.box8 {
    background-image: url(img/lottery.png);
    background-size: cover;
    border-radius: 10px;
}

.box9 {
    background-image: url(img/sound%20bridge.png);
    background-size: cover;
    border-radius: 10px;
}

.box10 {
    background-image: url(img/imtex.png);
    background-size: cover;
    border-radius: 10px;
}

.box11 {
    background-image: url(img/cphdox.png);
    background-size: cover;
    border-radius: 10px;
}

.box12 {
    background-image: url(img/imtex%20rapport.png);
    background-size: cover;
    border-radius: 10px;
}

.box13 {
    background-image: url(img/moodboard.png);
    background-size: cover;
    border-radius: 10px;
}

.box14 {
    background-image: url(img/karakterer.png);
    background-size: cover;
    border-radius: 10px;
}

.box15 {
    background-image: url(img/baggrund.png);
    background-size: cover;
    border-radius: 10px;
}

.box16 {
    background-image: url(img/moodboard.styletile.png);
    background-size: cover;
    border-radius: 10px;
}

.box17 {
    background-image: url(img/flowchat.png);
    background-size: cover;
    border-radius: 10px;
}

.box18 {
    background-image: url(img/persona.ani.png);
    background-size: cover;
    border-radius: 10px;
}

.box19 {
    background-image: url(img/layout.png);
    background-size: cover;
    border-radius: 10px;
}

.box20 {
    background-image: url(img/fb.insta.png);
    background-size: cover;
    border-radius: 10px;
}


/*-------- kasse ---------- */

.heart.animated {
    -webkit-animation: 2000ms pulsate infinite alternate ease-in-out;
    background-color: lightgray;
}

.heart:after {
    left: 0;
    -webkit-transform-origin: 100% 100%;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}


/*-------- Media Queries ---------- */

@media all and (max-width: 828px) {
    nav {
        display: none;
    }
}

@media all and (min-width: 828px) {
    header {
        display: none;
    }
}